<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" th:with="title='详细信息'">
<head th:replace="common/base :: common_header(~{::link},null)">
    <link rel="stylesheet" th:href="@{/cssnjadmin/css/template.css}" media="all">
</head>
<body>

<div class="layui-fluid layadmin-message-fluid">
    <div class="layui-row">
        <div class="layui-col-md12" style="padding-bottom: 20px;">
            <div class="layui-form">
                <div class="layui-form-item layui-form-text">
                    <p class="message-text" style="font-size: 18px;font-weight: bold;" th:utext="${wtxx.bt}"></p>
                    <p class="message-text" th:text="${wtxx.ms}"></p>
                    <p class="message-text" style="font-size: 12px;color: #bbb;">
                        <span th:utext="${wtxx.wtlxMc}" th:if="${wtxx.wtlxMc!=null and wtxx.wtlxMc!=''}"></span>
                        <span th:utext="${'- '+wtxx.yyxtMc}" th:if="${wtxx.yyxtMc!=null}"></span>
                        <span th:utext="${'- '+wtxx.ywmkMc}" th:if="${wtxx.ywmkMc!=null and wtxx.ywmkMc!=''}"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layadmin-homepage-list-imgtxt message-content" style="padding-bottom:35px;">
            <fieldset class="layui-elem-field layui-field-title" style="margin: 0px 0px 20px;">
                <legend><span th:utext="${#lists.size(wthfList)}"></span>&nbsp;条回复</legend>
            </fieldset>
            <div class="media-body" style="margin-bottom:0px;" th:each="wthf,wthfStat : ${wthfList}"
                 th:if="${wthfList!=null}">
                <div class="pad-btm">
                    <strong th:utext="${wthf.lrryXm}"></strong>
                    <span class="layui-breadcrumb" lay-separator="-">
                        <a href="javascript:;" th:utext="${wthf.lrsj}"></a>
                      </span>
                    </p>
                </div>
                <p class="message-text" th:text="${wthf.nr}"></p>
                <hr th:if="${wthfStat.count lt wthfStat.size}" style="margin:20px 0 20px">
            </div>
            <div class="media-body" style="margin-bottom:0px;" th:if="${#lists.size(wthfList)==0}">
                <p class="message-text">暂无</p>
            </div>
        </div>
        <div class="layui-col-md12 layadmin-homepage-list-imgtxt message-content" style="padding-bottom:35px;">
            <fieldset class="layui-elem-field layui-field-title" style="margin: 0px 0px 20px;">
                <legend>最终处理方案</legend>
            </fieldset>
            <div class="media-body" style="margin-bottom:0px;" th:if="${wtxx.clfa!=null and wtxx.clfa ne ''}">
                <div class="pad-btm">
                    <strong th:utext="${wtxx.lrryXm}"></strong>
                    <span class="layui-breadcrumb" lay-separator="-">
                        <a href="javascript:;" th:utext="${wtxx.lrsj}"></a>
                      </span>
                    </p>
                </div>
                <p class="message-text" th:text="${wtxx.clfa}"></p>
            </div>
            <div class="media-body" style="margin-bottom:0px;" th:if="${wtxx.clfa==null or wtxx.clfa eq ''}">
                <p class="message-text">暂无</p>
            </div>
        </div>
    </div>
</div>
<script>
    layui.extend({
        index: 'lib/index',
        cssnj: 'common/cssnj'
    }).use(['index', 'form', 'cssnj']);
</script>
</body>
</html>