<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssnj.ywgl.domain.ywdm.WtlxMapper">
    <resultMap id="BaseResultMap" type="com.cssnj.ywgl.domain.ywdm.Wtlx">
        <constructor>
            <idArg column="dm" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="mc" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="yxbz" javaType="java.lang.String" jdbcType="CHAR"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    dm, mc, yxbz
  </sql>
    <select id="selectByExample" parameterType="com.cssnj.ywgl.domain.ywdm.WtlxCriteria" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_dm_yw_wtlx
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_dm_yw_wtlx
        where dm = #{dm,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_dm_yw_wtlx
    where dm = #{dm,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.cssnj.ywgl.domain.ywdm.Wtlx">
    insert into t_dm_yw_wtlx (dm, mc, yxbz)
    values (#{dm,jdbcType=CHAR}, #{mc,jdbcType=VARCHAR}, #{yxbz,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.cssnj.ywgl.domain.ywdm.Wtlx">
        insert into t_dm_yw_wtlx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dm != null">
                dm,
            </if>
            <if test="mc != null">
                mc,
            </if>
            <if test="yxbz != null">
                yxbz,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dm != null">
                #{dm,jdbcType=CHAR},
            </if>
            <if test="mc != null">
                #{mc,jdbcType=VARCHAR},
            </if>
            <if test="yxbz != null">
                #{yxbz,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cssnj.ywgl.domain.ywdm.WtlxCriteria" resultType="java.lang.Long">
        select count(*) from t_dm_yw_wtlx
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.cssnj.ywgl.domain.ywdm.Wtlx">
        update t_dm_yw_wtlx
        <set>
            <if test="mc != null">
                mc = #{mc,jdbcType=VARCHAR},
            </if>
            <if test="yxbz != null">
                yxbz = #{yxbz,jdbcType=CHAR},
            </if>
        </set>
        where dm = #{dm,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cssnj.ywgl.domain.ywdm.Wtlx">
    update t_dm_yw_wtlx
    set mc = #{mc,jdbcType=VARCHAR},
      yxbz = #{yxbz,jdbcType=CHAR}
    where dm = #{dm,jdbcType=CHAR}
  </update>
    <select id="selectByExampleWithRowbounds" parameterType="com.cssnj.ywgl.domain.ywdm.WtlxCriteria"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from t_dm_yw_wtlx
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectAll" resultType="com.cssnj.ywgl.domain.ywdm.Wtlx" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_dm_yw_wtlx
        WHERE yxbz = 'Y'
    </select>
</mapper>