body .my-skin .layui-layer-btn .layui-layer-btn0 {
    border-color: #009688;
    background-color: #009688;
    color: #fff;
}

body .my-skin .layui-layer-btn .layui-layer-btn1 {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
}