<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" th:with="title='用户授权角色'">
<head th:replace="common/base :: common_header(~{::link},null)">
    <link rel="stylesheet" th:href="@{/cssnjadmin/plugin/zTree_v3/css/metroStyle/metroStyle.css}" media="all">
    <link rel="stylesheet" th:href="@{/cssnjadmin/plugin/zTree_v3/css/myzTree.css}" media="all">
</head>
<body>
<div class="layui-form">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>用户信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="hidden" id="id" name="id" th:value="${yhxx.id}">
                        <input type="text" id="xm" name="xm" maxlength="48"
                               placeholder="请输入内容" lay-verify="required"
                               autocomplete="off" readonly
                               class="layui-input" th:value="${yhxx.xm}">
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>角色信息</legend>
                </fieldset>
                <div class="layui-form-item">
                    <input type="hidden" id="jsIds" name="jsIds">
                    <div id="jsxxContent" class="jsxxContent"
                         style="margin:0 auto;border: 1px solid #e6e6e6;background: #fff;width:480px;height:330px;overflow-y:scroll;overflow-x:auto;">
                        <ul id="jsxx_tree" class="ztree" style="margin-top:0; width:160px;"></ul>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <input type="button" lay-submit lay-filter="yhjs_back_submit" id="yhjs_back_submit" value="确定">
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/cssnjadmin/plugin/zTree_v3/js/jquery-1.4.4.min.js}"></script>
<script th:src="@{/cssnjadmin/plugin/zTree_v3/js/jquery.ztree.core.js}"></script>
<script th:src="@{/cssnjadmin/plugin/zTree_v3/js/jquery.ztree.excheck.js}"></script>

<script>
    layui.extend({
        index: 'lib/index',
        cssnj: 'common/cssnj'
    }).use(['index', 'form', 'cssnj'], function () {
        var admin = layui.admin
            , form = layui.form
            , table = layui.table
            , cssnj = layui.cssnj;

        var onCheck = function onClick(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("jsxx_tree"),
                nodes = zTree.getCheckedNodes(),
                jsIds = "";
            for (var i = 0, l = nodes.length; i < l; i++) {
                jsIds += nodes[i].id + ",";
            }
            if (jsIds.length > 0) {
                jsIds = jsIds.substring(0, jsIds.length - 1);
            }
            $("#jsIds").attr("value", jsIds);
        }, setting = {
            view: {
                dblClickExpand: false
            }, check: {
                chkboxType: {"Y": "p", "N": "p"},
                chkStyle: "checkbox",
                enable: true
            }, data: {
                key: {
                    name: "mc",
                    url: "xUrl"
                },
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "sjjsId",
                    rootPId: null
                }
            }, callback: {
                onCheck: onCheck
            }
        }, loadJsxxs = function () {
            cssnj.req({
                url: contextPath + '/xtgl/yhgl',
                data: JSON.stringify({
                    handle: 'loadJsxxs',
                    data: {
                        id: $("#id").val()
                    }
                }),
                done: function (res) {
                    $.fn.zTree.init($("#jsxx_tree"), setting, res.data.list);
                }
            });
        };
        loadJsxxs();
    });
</script>
</body>
</html>