<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssnj.ywgl.domain.xtzy.OperLogMapper">
  <resultMap id="BaseResultMap" type="com.cssnj.ywgl.domain.xtzy.OperLog">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="czlx_dm" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cznr" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lrry" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lrsj" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="xgry" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="xgsj" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, czlx_dm, cznr, lrry, lrsj, xgry, xgsj
  </sql>
  <select id="selectByExample" parameterType="com.cssnj.ywgl.domain.xtzy.OperLogCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_xt_czrz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_xt_czrz
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_xt_czrz
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cssnj.ywgl.domain.xtzy.OperLogCriteria">
    delete from t_xt_czrz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cssnj.ywgl.domain.xtzy.OperLog">
    insert into t_xt_czrz (id, czlx_dm, cznr, 
      lrry, lrsj, xgry, 
      xgsj)
    values (#{id,jdbcType=VARCHAR}, #{czlxDm,jdbcType=VARCHAR}, #{cznr,jdbcType=VARCHAR}, 
      #{lrry,jdbcType=VARCHAR}, #{lrsj,jdbcType=TIMESTAMP}, #{xgry,jdbcType=VARCHAR}, 
      #{xgsj,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cssnj.ywgl.domain.xtzy.OperLog">
    insert into t_xt_czrz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="czlxDm != null">
        czlx_dm,
      </if>
      <if test="cznr != null">
        cznr,
      </if>
      <if test="lrry != null">
        lrry,
      </if>
      <if test="lrsj != null">
        lrsj,
      </if>
      <if test="xgry != null">
        xgry,
      </if>
      <if test="xgsj != null">
        xgsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="czlxDm != null">
        #{czlxDm,jdbcType=VARCHAR},
      </if>
      <if test="cznr != null">
        #{cznr,jdbcType=VARCHAR},
      </if>
      <if test="lrry != null">
        #{lrry,jdbcType=VARCHAR},
      </if>
      <if test="lrsj != null">
        #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgry != null">
        #{xgry,jdbcType=VARCHAR},
      </if>
      <if test="xgsj != null">
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cssnj.ywgl.domain.xtzy.OperLogCriteria" resultType="java.lang.Long">
    select count(*) from t_xt_czrz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_xt_czrz
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.czlxDm != null">
        czlx_dm = #{record.czlxDm,jdbcType=VARCHAR},
      </if>
      <if test="record.cznr != null">
        cznr = #{record.cznr,jdbcType=VARCHAR},
      </if>
      <if test="record.lrry != null">
        lrry = #{record.lrry,jdbcType=VARCHAR},
      </if>
      <if test="record.lrsj != null">
        lrsj = #{record.lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.xgry != null">
        xgry = #{record.xgry,jdbcType=VARCHAR},
      </if>
      <if test="record.xgsj != null">
        xgsj = #{record.xgsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_xt_czrz
    set id = #{record.id,jdbcType=VARCHAR},
      czlx_dm = #{record.czlxDm,jdbcType=VARCHAR},
      cznr = #{record.cznr,jdbcType=VARCHAR},
      lrry = #{record.lrry,jdbcType=VARCHAR},
      lrsj = #{record.lrsj,jdbcType=TIMESTAMP},
      xgry = #{record.xgry,jdbcType=VARCHAR},
      xgsj = #{record.xgsj,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cssnj.ywgl.domain.xtzy.OperLog">
    update t_xt_czrz
    <set>
      <if test="czlxDm != null">
        czlx_dm = #{czlxDm,jdbcType=VARCHAR},
      </if>
      <if test="cznr != null">
        cznr = #{cznr,jdbcType=VARCHAR},
      </if>
      <if test="lrry != null">
        lrry = #{lrry,jdbcType=VARCHAR},
      </if>
      <if test="lrsj != null">
        lrsj = #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgry != null">
        xgry = #{xgry,jdbcType=VARCHAR},
      </if>
      <if test="xgsj != null">
        xgsj = #{xgsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cssnj.ywgl.domain.xtzy.OperLog">
    update t_xt_czrz
    set czlx_dm = #{czlxDm,jdbcType=VARCHAR},
      cznr = #{cznr,jdbcType=VARCHAR},
      lrry = #{lrry,jdbcType=VARCHAR},
      lrsj = #{lrsj,jdbcType=TIMESTAMP},
      xgry = #{xgry,jdbcType=VARCHAR},
      xgsj = #{xgsj,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.cssnj.ywgl.domain.xtzy.OperLogCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_xt_czrz
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>