.layui-form-label {
    padding: 5px 15px;
}

.layui-input, .layui-select, .layui-textarea {
    height: 30px;
    line-height: 30px \9;
}

.layui-form-select dl dd, .layui-form-select dl dt {
    line-height: 30px;
}

.layui-input-block {
    padding-right: 15px;
}