<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" th:with="title='登录'">
<head th:replace="common/base :: common_header(~{::link},null)">
    <link rel="stylesheet" th:href="@{/cssnjadmin/css/login.css}" media="all">
</head>
<script>
    if (window != top) {
        top.location.href = window.location.href;
    }
</script>
<body>
<div style="position: absolute;left: 0;top: 0;right:0;bottom:0;width: 100%;height:30px;line-height: 30px;padding: 20px;box-sizing: border-box;color: rgba(0,0,0,.5);z-index: 99">
    <div class="layui-row layui-col-space30" style="text-align: center">
        <div class="layui-col-md4"><img style="height:30px" th:src="@{/cssnjadmin/images/logo.png}"></div>
        <div class="layui-col-md4 layui-col-md-offset4">
                <span>
                    <a href="http://www.cssnj.com.cn" target="_blank">企业门户</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a href="http://www.cssnj.com.cn/portal" target="_blank">OA办公</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a href="http://mail.cssnj.com.cn" target="_blank">企业邮箱</a>
                </span>
        </div>
    </div>
</div>
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login"
     style="display: none;background-image: url('../cssnjadmin/images/login-bg.jpg');background-clip: content-box;background-repeat: no-repeat;background-origin: content-box;background-size: 100% 100%;padding: 80px 0;">
    <form name="f" th:action="@{/user/login}" method="post">
        <div class="layadmin-user-login-main" style="padding-top: 50px;">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h1>运维管理平台</h1>
                <p></p>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                           for="LAY-user-login-username"></label>
                    <input type="text" name="username" id="LAY-user-login-username"
                           lay-verify="username"
                           lay-verType="tips"
                           autocomplete="off"
                           maxlength="4"
                           placeholder="用户名"
                           class="layui-input" th:value="${username}">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                           for="LAY-user-login-password"></label>
                    <input type="password" name="password" id="LAY-user-login-password"
                           lay-verify="password"
                           lay-verType="tips"
                           autocomplete="off"
                           maxlength="12"
                           placeholder="密码"
                           class="layui-input">
                </div>
                <div class="layui-form-item" style="margin-bottom: 20px;">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                   for="LAY-user-login-vercode"></label>
                            <input type="text" name="vcode" id="LAY-user-login-vercode"
                                   autocomplete="off"
                                   lay-verify="vcode"
                                   lay-verType="tips"
                                   maxlength="4"
                                   placeholder="验证码"
                                   class="layui-input" th:value="${vcode}">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <img th:src="@{/user/captcha}"
                                     class="layadmin-user-login-codeimg"
                                     id="LAY-user-get-vercode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 录</button>
                </div>
                <div th:if="${message}" class="layui-bg-red" style="color: #FFF!important;text-align: center">
                    <span th:utext="${message}"></span>
                </div>
                <!--<div th:if="${param.logout}" class="alert alert-success">-->
                <!--You have been logged out.-->
                <!--</div>-->
            </div>
        </div>
    </form>
    <div class="layui-trans layadmin-user-login-footer">
        <p>© 2019 <a href="http://www.cssnj.com.cn" target="_blank">南京中软软件与技术服务有限公司</a></p>
    </div>

    <!--<div class="ladmin-user-login-theme">
      <script type="text/html" template>
        <ul>
          <li data-theme=""><img src="{{ layui.setter.base }}style/res/bg-none.jpg"></li>
          <li data-theme="#03152A" style="background-color: #03152A;"></li>
          <li data-theme="#2E241B" style="background-color: #2E241B;"></li>
          <li data-theme="#50314F" style="background-color: #50314F;"></li>
          <li data-theme="#344058" style="background-color: #344058;"></li>
          <li data-theme="#20222A" style="background-color: #20222A;"></li>
        </ul>
      </script>
    </div>-->

</div>

<script>
    layui.extend({
        index: 'lib/index'
        , user: 'user/user'
    }).use(['index', 'user']);
</script>
</body>
</html>