<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssnj.ywgl.domain.user.LoginAccountMapper">
    <resultMap id="BaseResultMap" type="com.cssnj.ywgl.domain.user.LoginAccount">
        <constructor>
            <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dlzh" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="mm" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="zhlx_dm" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="yh_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="yxbz" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="lrry" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="lrsj" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="xgry" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="xgsj" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, dlzh, mm, zhlx_dm, yh_id, yxbz, lrry, lrsj, xgry, xgsj
  </sql>
    <select id="selectByExample" parameterType="com.cssnj.ywgl.domain.user.LoginAccountCriteria"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_xt_dlzh
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_xt_dlzh
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_xt_dlzh
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.cssnj.ywgl.domain.user.LoginAccountCriteria">
        delete from t_xt_dlzh
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.cssnj.ywgl.domain.user.LoginAccount">
    insert into t_xt_dlzh (id, dlzh, mm, 
      zhlx_dm, yh_id, yxbz, lrry, 
      lrsj, xgry, xgsj
      )
    values (#{id,jdbcType=VARCHAR}, #{dlzh,jdbcType=VARCHAR}, #{mm,jdbcType=VARCHAR}, 
      #{zhlxDm,jdbcType=CHAR}, #{yhId,jdbcType=VARCHAR}, #{yxbz,jdbcType=CHAR}, #{lrry,jdbcType=VARCHAR}, 
      #{lrsj,jdbcType=TIMESTAMP}, #{xgry,jdbcType=VARCHAR}, #{xgsj,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.cssnj.ywgl.domain.user.LoginAccount">
        insert into t_xt_dlzh
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dlzh != null">
                dlzh,
            </if>
            <if test="mm != null">
                mm,
            </if>
            <if test="zhlxDm != null">
                zhlx_dm,
            </if>
            <if test="yhId != null">
                yh_id,
            </if>
            <if test="yxbz != null">
                yxbz,
            </if>
            <if test="lrry != null">
                lrry,
            </if>
            <if test="lrsj != null">
                lrsj,
            </if>
            <if test="xgry != null">
                xgry,
            </if>
            <if test="xgsj != null">
                xgsj,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="dlzh != null">
                #{dlzh,jdbcType=VARCHAR},
            </if>
            <if test="mm != null">
                #{mm,jdbcType=VARCHAR},
            </if>
            <if test="zhlxDm != null">
                #{zhlxDm,jdbcType=CHAR},
            </if>
            <if test="yhId != null">
                #{yhId,jdbcType=VARCHAR},
            </if>
            <if test="yxbz != null">
                #{yxbz,jdbcType=CHAR},
            </if>
            <if test="lrry != null">
                #{lrry,jdbcType=VARCHAR},
            </if>
            <if test="lrsj != null">
                #{lrsj,jdbcType=TIMESTAMP},
            </if>
            <if test="xgry != null">
                #{xgry,jdbcType=VARCHAR},
            </if>
            <if test="xgsj != null">
                #{xgsj,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.cssnj.ywgl.domain.user.LoginAccountCriteria"
            resultType="java.lang.Long">
        select count(*) from t_xt_dlzh
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_xt_dlzh
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.dlzh != null">
                dlzh = #{record.dlzh,jdbcType=VARCHAR},
            </if>
            <if test="record.mm != null">
                mm = #{record.mm,jdbcType=VARCHAR},
            </if>
            <if test="record.zhlxDm != null">
                zhlx_dm = #{record.zhlxDm,jdbcType=CHAR},
            </if>
            <if test="record.yhId != null">
                yh_id = #{record.yhId,jdbcType=VARCHAR},
            </if>
            <if test="record.yxbz != null">
                yxbz = #{record.yxbz,jdbcType=CHAR},
            </if>
            <if test="record.lrry != null">
                lrry = #{record.lrry,jdbcType=VARCHAR},
            </if>
            <if test="record.lrsj != null">
                lrsj = #{record.lrsj,jdbcType=TIMESTAMP},
            </if>
            <if test="record.xgry != null">
                xgry = #{record.xgry,jdbcType=VARCHAR},
            </if>
            <if test="record.xgsj != null">
                xgsj = #{record.xgsj,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_xt_dlzh
        set id = #{record.id,jdbcType=VARCHAR},
        dlzh = #{record.dlzh,jdbcType=VARCHAR},
        mm = #{record.mm,jdbcType=VARCHAR},
        zhlx_dm = #{record.zhlxDm,jdbcType=CHAR},
        yh_id = #{record.yhId,jdbcType=VARCHAR},
        yxbz = #{record.yxbz,jdbcType=CHAR},
        lrry = #{record.lrry,jdbcType=VARCHAR},
        lrsj = #{record.lrsj,jdbcType=TIMESTAMP},
        xgry = #{record.xgry,jdbcType=VARCHAR},
        xgsj = #{record.xgsj,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.cssnj.ywgl.domain.user.LoginAccount">
        update t_xt_dlzh
        <set>
            <if test="dlzh != null">
                dlzh = #{dlzh,jdbcType=VARCHAR},
            </if>
            <if test="mm != null">
                mm = #{mm,jdbcType=VARCHAR},
            </if>
            <if test="zhlxDm != null">
                zhlx_dm = #{zhlxDm,jdbcType=CHAR},
            </if>
            <if test="yhId != null">
                yh_id = #{yhId,jdbcType=VARCHAR},
            </if>
            <if test="yxbz != null">
                yxbz = #{yxbz,jdbcType=CHAR},
            </if>
            <if test="lrry != null">
                lrry = #{lrry,jdbcType=VARCHAR},
            </if>
            <if test="lrsj != null">
                lrsj = #{lrsj,jdbcType=TIMESTAMP},
            </if>
            <if test="xgry != null">
                xgry = #{xgry,jdbcType=VARCHAR},
            </if>
            <if test="xgsj != null">
                xgsj = #{xgsj,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cssnj.ywgl.domain.user.LoginAccount">
    update t_xt_dlzh
    set dlzh = #{dlzh,jdbcType=VARCHAR},
      mm = #{mm,jdbcType=VARCHAR},
      zhlx_dm = #{zhlxDm,jdbcType=CHAR},
      yh_id = #{yhId,jdbcType=VARCHAR},
      yxbz = #{yxbz,jdbcType=CHAR},
      lrry = #{lrry,jdbcType=VARCHAR},
      lrsj = #{lrsj,jdbcType=TIMESTAMP},
      xgry = #{xgry,jdbcType=VARCHAR},
      xgsj = #{xgsj,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectByExampleWithRowbounds" parameterType="com.cssnj.ywgl.domain.user.LoginAccountCriteria"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_xt_dlzh
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectForLogin" resultType="com.cssnj.ywgl.dto.user.LoginInfo">
        select a.id                                     zhid,
               a.mm,
               b.id                                     yhid,
               b.xm,
               b.xb,
               date_format(b.csrq, '%y-%m-%d') csrq,
               b.yddh,
               b.gddh,
               b.dzyx,
               c.id                                     yhkzid,
               sysdate()                                dlsj,
               c.dlsj                                   scdlsj,
               ifnull(c.dlcs, 0) + 1                    dlcs,
               d.id                                     bmzbid,
               d.mc                                     bmzbmc
        from t_xt_dlzh a
               left join t_xt_yhxx b on a.yh_id = b.id
               left join t_xt_yhxx_kz c on b.id = c.yh_id
               left join t_xt_bmzb d on b.bmzb_id = d.id
        where a.dlzh = #{dlzh,jdbcType=VARCHAR}
  </select>
    <!--SELECT-->
    <!--a.id                      zhId,-->
    <!--a.mm,-->
    <!--b.id                      yhId,-->
    <!--b.xm,-->
    <!--b.xb,-->
    <!--DATE_FORMAT(b.csrq, '%Y-%m-%d %H:%i:%S') csrq,-->
    <!--b.yddh,-->
    <!--b.gddh,-->
    <!--b.dzyx,-->
    <!--c.id                      bmzbId,-->
    <!--c.mc                      bmzbMc,-->
    <!--(SELECT DATE_FORMAT(x.scdlsj, '%Y-%m-%d %H:%i:%S')-->
    <!--FROM t_xt_yhxx_kz x-->
    <!--WHERE x.yh_id = a.yh_id) scdlsj-->
    <!--FROM t_xt_dlzh a, t_xt_yhxx b, t_xt_bmzb c-->
    <!--WHERE a.yh_id = b.id AND b.bmzb_id = c.id AND b.yxbz='Y' AND a.dlzh = #{dlzh,jdbcType=VARCHAR}-->
</mapper>