<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org"
      th:with="title='角色授权新增用户'">
<head th:replace="common/base :: common_header(~{::link},null)">
    <link rel="stylesheet" th:href="@{/cssnjadmin/plugin/zTree_v3/css/metroStyle/metroStyle.css}" media="all">
    <link rel="stylesheet" th:href="@{/cssnjadmin/plugin/zTree_v3/css/myzTree.css}" media="all">
    <link rel="stylesheet" th:href="@{/cssnjadmin/css/form.css}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <form class="layui-form" action="">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="xm" placeholder="请输入内容" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">部门</label>
                        <div class="layui-input-block">
                            <input type="hidden" id="bmzbId" name="bmzbId"/>
                            <input type="text" id="bmzb" name="bmzb" placeholder="请输入内容" autocomplete="off"
                                   readonly
                                   class="layui-input">
                        </div>
                        <div id="bmzbContent" class="bmzbContent"
                             style="display:none; position: fixed;z-index: 999;margin-top: 10px;border: 1px solid #e6e6e6;background: #fff;width:260px;height:160px;overflow-y:scroll;overflow-x:auto;">
                            <ul id="bmzb_tree" class="ztree" style="margin-top:0; width:160px;"></ul>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="yhxx_search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            查询
                        </button>
                        <button class="layui-btn layuiadmin-btn-useradmin" type="reset" id="yhxx_reset">
                            <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
                            重置
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="layui-card-body">
            <table id="tbl_yhxx" lay-filter="tbl_yhxx"></table>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="yhxx_back_submit" id="yhxx_back_submit" value="确定">
    </div>
</div>
<input type="hidden" id="id" th:value="${jsxx.id}">
<script th:src="@{/cssnjadmin/plugin/zTree_v3/js/jquery-1.4.4.min.js}"></script>
<script th:src="@{/cssnjadmin/plugin/zTree_v3/js/jquery.ztree.core.js}"></script>
<script th:inline="none">
    layui.extend({
        index: 'lib/index',
        cssnj: 'common/cssnj'
    }).use(['index', 'admin', 'form', 'table', 'cssnj'], function () {
        var admin = layui.admin
            , form = layui.form
            , table = layui.table
            , cssnj = layui.cssnj;

        table.render({
            elem: '#tbl_yhxx'
            , url: contextPath + '/xtgl/jsgl/loadWsqYhxxs'
            , method: 'post'
            //, contentType: 'application/json'
            , request: {
                pageName: 'page',
                limitName: 'limit'
            }
            , where: {
                xm: $("input[name='xm']").val(),
                bmzbId: $("input[name='bmzbId']").val(),
                id: $("#id").val()
            }
            , parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.msg,
                    "count": res.data.count,
                    "data": res.data.list
                };
            }
            , title: ''
            , toolbar: false
            , defaultToolbar: []
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', sort: true, hide: false}
                , {field: 'xm', title: '姓名', minWidth: 100, sort: true}
                , {
                    field: 'xb', title: '性别', templet: function (d) {
                        switch (d.xb) {
                            case 0:
                                return '女';
                                break;
                            case 1:
                                return '男';
                                break;
                            default:
                                return '-';
                        }
                    }
                }
                , {field: 'bmzbMc', title: '部门'}
            ]]
            , page: true
            , limit: 10
            , limits: [10, 15, 20]
            , height: 'full-128'
            , text: {none: '暂无相关数据'}
        });

        var onClick = function onClick(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("bmzb_tree"),
                nodes = zTree.getSelectedNodes();
            if (nodes.length > 0) {
                $("#bmzb").attr("value", nodes[0].mc);
                $("#bmzbId").attr("value", nodes[0].id);
            }
            hideBmzbs();
        }, showBmzbs = function showMenu() {
            var bmzbObj = $("#bmzb");
            var bmzbOffset = $("#bmzb").offset();
            var bmzbContent = $("#bmzbContent");
            bmzbContent.css({
                left: bmzbOffset.left + "px",
                top: bmzbOffset.top + bmzbObj.outerHeight() + "px"
            }).slideDown("fast");

            $("body").bind("mousedown", onBodyDown);
        }, hideBmzbs = function hideMenu() {
            $("#bmzbContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }, onBodyDown = function onBodyDown(event) {
            if (!(event.target.id == "bmzb" || event.target.id == "bmzbContent" || $(event.target).parents("#bmzbContent").length > 0)) {
                hideBmzbs();
            }
        }, setting = {
            view: {
                dblClickExpand: false
            }, data: {
                key: {
                    name: "mc",
                    url: "xUrl"
                },
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "sjbmzbId",
                    rootPId: null
                }
            }, callback: {
                onClick: onClick
            }
        }, loadBmzbs = function () {
            cssnj.req({
                url: contextPath + '/xtgl/yhgl',
                data: JSON.stringify({
                    handle: 'loadBmzbs'
                }),
                done: function (res) {
                    $.fn.zTree.init($("#bmzb_tree"), setting, res.data.list);
                }
            });
        };
        loadBmzbs();
        $('#bmzb').bind('click', function () {
            showBmzbs();
        });

        form.on('submit(yhxx_search)', function (data) {
            table.reload('tbl_yhxx', {
                where: {
                    xm: $("input[name='xm']").val(),
                    bmzbId: $("input[name='bmzbId']").val(),
                    id: $("#id").val()
                }
            });
            return false;
        });

        $('#yhxx_reset').bind('click', function () {
            $("#bmzbId").val("");
            var treeObj = $.fn.zTree.getZTreeObj("bmzb_tree"),
                nodes = treeObj.getSelectedNodes();
            if (nodes.length > 0) {
                treeObj.cancelSelectedNode(nodes[0]);
            }
        });

    });
</script>
</body>
</html>
