<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" th:with="title='角色信息'">
<head th:replace="common/base :: common_header(~{::link},null)">
    <link rel="stylesheet" th:href="@{/cssnjadmin/css/template.css}" media="all">
    <link rel="stylesheet" th:href="@{/cssnjadmin/plugin/zTree_v3/css/metroStyle/metroStyle.css}" media="all">
    <link rel="stylesheet" th:href="@{/cssnjadmin/plugin/zTree_v3/css/myzTree.css}" media="all">
</head>
<body>
<div class="layui-form layui-fluid layadmin-maillist-fluid">
    <div class="layadmin-contact-box">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="mc" maxlength="48" style="width: 400px;"
                       placeholder="请输入内容" lay-verify="required"
                       autocomplete="off"
                       class="layui-input" th:value="${jsxx.mc}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-inline">
                <input type="text" name="jc" maxlength="18" style="width: 400px;"
                       placeholder="请输入内容"
                       autocomplete="off"
                       class="layui-input" th:value="${jsxx.ms}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限标识</label>
            <div class="layui-input-inline">
                <input type="text" name="qxbs" maxlength="18" style="width: 400px;"
                       placeholder="请输入内容" lay-verify="required"
                       autocomplete="off"
                       class="layui-input" th:value="${jsxx.qxbs}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">序号</label>
            <div class="layui-input-inline">
                <input type="text" name="xh" maxlength="4" style="width: 400px;"
                       placeholder="请输入内容"
                       autocomplete="off"
                       class="layui-input" th:value="${jsxx.xh}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级角色</label>
            <div class="layui-input-inline">
                <input type="hidden" id="sjjsId" name="sjjsId" th:value="${jsxx.sjjsId}"/>
                <input type="text" id="sjjs" name="sjjs" maxlength="50" style="width: 400px;"
                       placeholder="请输入内容" lay-verify="required" readonly
                       autocomplete="off"
                       class="layui-input">
            </div>
            <div id="jsxxContent" class="jsxxContent"
                 style="display:none; position: absolute;z-index: 99;margin-bottom: 10px;border: 1px solid #e6e6e6;background: #fff;width:400px;height:160px;overflow-y:scroll;overflow-x:auto;">
                <ul id="jsxx_tree" class="ztree" style="margin-top:0; width:160px;"></ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="hidden" id="yxbz" name="yxbz" th:value="${jsxx.yxbz==null?'N':jsxx.yxbz}">
                <input type="checkbox" lay-skin="switch" lay-filter="switch_zt" lay-text="有效|无效"
                       th:checked="${jsxx.yxbz eq'Y'}">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="jsxx_back_submit" id="jsxx_back_submit" value="确定">
            <input type="hidden" name="id" th:value="${jsxx.id}"/>
        </div>
    </div>
</div>
<script th:src="@{/cssnjadmin/plugin/zTree_v3/js/jquery-1.4.4.min.js}"></script>
<script th:src="@{/cssnjadmin/plugin/zTree_v3/js/jquery.ztree.core.js}"></script>

<script>
    layui.extend({
        index: 'lib/index',
        cssnj: 'common/cssnj'
    }).use(['index', 'form', 'cssnj'], function () {
        var admin = layui.admin
            , form = layui.form
            , table = layui.table
            , cssnj = layui.cssnj;

        var beforeClick = function beforeClick(treeId, treeNode) {
            //var check = (treeNode && !treeNode.isParent);
            // if (!check) return;
            //return check;
        }, onClick = function onClick(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("jsxx_tree"),
                nodes = zTree.getSelectedNodes(),
                label = "", value = "";
            // if (treeNode.isParent) {
            //     zTree.expandNode(treeNode);
            //     return false;
            // }
            nodes.sort(function compare(a, b) {
                return a.id - b.id;
            });
            for (var i = 0, l = nodes.length; i < l; i++) {
                label += nodes[i].mc + ",";
                value += nodes[i].id + ",";
            }
            if (label.length > 0) {
                label = label.substring(0, label.length - 1);
                value = value.substring(0, value.length - 1);
            }
            $("#sjjs").attr("value", label);
            $("#sjjsId").attr("value", value);
            hideMenu();
        }, showMenu = function showMenu() {
            var sjjsObj = $("#sjjs");
            var sjjsOffset = $("#sjjs").offset();
            var jsxxContent = $("#jsxxContent");
            jsxxContent.css({
                left: sjjsOffset.left + "px",
                top: sjjsOffset.top - jsxxContent.outerHeight() - 10 + "px"
            }).slideDown("fast");

            $("body").bind("mousedown", onBodyDown);
        }, hideMenu = function hideMenu() {
            $("#jsxxContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }, onBodyDown = function onBodyDown(event) {
            if (!(event.target.id == "sjjs" || event.target.id == "jsxxContent" || $(event.target).parents("#jsxxContent").length > 0)) {
                hideMenu();
            }
        }, setting = {
            view: {
                dblClickExpand: false
            }, data: {
                key: {
                    name: "mc",
                    url: "xUrl"
                },
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "sjjsId",
                    rootPId: null
                }
            }, callback: {
                beforeClick: beforeClick,
                onClick: onClick
            }
        }, loadGncds = function () {
            cssnj.req({
                url: contextPath + '/xtgl/jsgl',
                data: JSON.stringify({
                    handle: 'loadJsxxs'
                }),
                done: function (res) {
                    var zTree = $.fn.zTree.init($("#jsxx_tree"), setting, res.data.list);
                    // $("#jsxx_tree").zTree(setting, res.data.list);
                    var menuIds = $("#sjjsId").val().split(',');
                    for (var i = 0; i < menuIds.length; i++) {
                        var node = zTree.getNodeByParam("id", menuIds[i], null);
                        if (node != null) {
                            //zTree.checkNode(node, true);
                            //$("#sjjs").val(node.mc);
                            zTree.selectNode(node);
                            zTree.setting.callback.onClick(null, zTree.setting.treeId, node);
                        }
                    }
                }
            });
        };
        loadGncds();
        $('#sjjs').bind('click', function () {
            showMenu();
        });

        form.on('switch(switch_zt)', function (data) {
            if (this.checked) {
                $("#yxbz").val("Y");
            } else {
                $("#yxbz").val("N")
            }
        });
    });
</script>
</body>
</html>