<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      th:with="title='主页'">
<head th:replace="common/base :: common_header(~{::link},null)">
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect style="right:10px;">
                    <a href="javascript:;">
                        <cite>
                            <shiro:principal property="xm"/>
                        </cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:lay-href="@{/user/info}">基本资料</a></dd>
                        <dd><a th:lay-href="@{/user/pwd}">修改密码</a></dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;">
                            <form id="logout_form" name="logout_form" th:action="@{/user/logout}" method="post">
                                <a>退出</a>
                            </form>
                        </dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--<a href="javascript:;" layadmin-event="about"><i-->
                <!--class="layui-icon layui-icon-more-vertical"></i></a>-->
                <!--</li>-->
                <!--<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>-->
                <!--<a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" th:lay-href="@{/home}">
                    <span>CSSNJ</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li data-name="console" class="layui-nav-item layui-this">
                        <a href="javascript:;" th:lay-href="@{/home}" lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                    </li>
                    <li class="layui-nav-item" th:each="menu,menuStat : ${menus}" th:if="${menus!=null}"
                        th:data-name="${menu.id}">
                        <a href="javascript:;" th:if="${#lists.size(menu.childs)==0 }" th:lay-href="${menu.url}"
                           th:lay-tips="${menu.mc}">
                            <i th:if="${menu.icon!=null}" th:class="${menu.icon}"></i>
                            <cite th:utext="${menu.mc}"></cite>
                        </a>
                        <a href="javascript:;" th:if="${#lists.size(menu.childs)>0}"
                           th:lay-tips="${menu.mc}">
                            <i th:if="${menu.icon!=null}" th:class="${menu.icon}"></i>
                            <cite th:utext="${menu.mc}"></cite>
                        </a>
                        <dl class="layui-nav-child" th:each="menu2,menu2Stat : ${menu.childs}">
                            <dd th:if="${#lists.size(menu2.childs)==0}" th:data-name="${menu2.id}">
                                <a th:lay-href="${menu2.url}" th:utext="${menu2.mc}"></a>
                            </dd>
                            <dd th:if="${#lists.size(menu2.childs)>0}" th:data-name="${menu2.id+menu2Stat}">
                                <a href="javascript:;" th:utext="${menu2.mc}"></a>
                                <dl class="layui-nav-child">
                                    <dd th:each="menu3,menu3Stat : ${menu2.childs}" th:data-name="${menu3.id}">
                                        <a th:lay-href="${menu3.url}" th:utext="${menu3.mc}"></a>
                                    </dd>
                                </dl>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" lay-tips="我的设置"><cite>我的设置</cite></a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;" th:lay-href="@{/user/info}">基本资料</a></dd>
                            <dd><a href="javascript:;" th:lay-href="@{/user/pwd}">修改密码</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li th:lay-id="@{/home}" th:lay-attr="@{/home}" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe th:src="@{/home}" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<script>
    layui.extend({
        index: 'lib/index',
        cssnj: 'common/cssnj'
    }).use(['index', 'cssnj'], function () {
        var $ = layui.jquery, layer = layui.layer, setter = layui.setter, admin = layui.admin, cssnj = layui.cssnj;
        var showTzgg = function (data, idx, hasNext) {
            cssnj.layer(false, '<div style="padding: 50px; line-height: 22px; background-color: #fff; color: #393D49; font-weight: 300;"><div style="text-align: center;"><h3>' + data[idx].bt + '</h3></div id="tzggNr">' + data[idx].nr + '</div>',
                {
                    width: '700px',
                    height: 'auto',
                    btn: [hasNext ? '下一条' : '确定'],
                    btnAlign: 'c',
                    closeBtn: false,
                    yes: function (i, layero) {
                        cssnj.close(i);
                        admin.req({
                            url: contextPath + '/saveYhTzgg',
                            data: JSON.stringify({
                                handle: 'saveYhTzgg',
                                data: {
                                    id: data[idx].id
                                }
                            }),
                            type: 'post',
                            contentType: "application/json;charset=utf-8",
                            dataType: "json"
                        });

                    }, end: function () {
                        idx++;
                        if (idx < data.length) {
                            showTzgg(data, idx, data.length > (idx + 1));
                        }
                    }
                });
        };
        cssnj.req({
            url: contextPath + '/getTzgg',
            data: JSON.stringify({
                handle: 'getTzgg'
            }),
            done: function (res) {
                if (res[setter.response.statusName] == setter.response.statusCode.ok) {
                    showTzgg(res.data, 0, res.data.length > 1);
                }
            }
        });
    });
</script>
</body>
</html>


